<body>

<center><b>
Welcome to the Project List!
</b>
<p></p>
<div>
Description of application goes here!
</div>
</center>

<center>
<p></p><a href="/signup">Sign Up</a>
<p></p><a href="/login">Log In</a>
</center>

</body>